{% block sidebar %}
    {% if user.is_authenticated %}
        <div class="md-10">
            <div class="card" style="width: 20rem">
                <div class="card-block">
                    <h3 class="card-title p-xl-3">Create a New Portfolio</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ new_portfolio_name|crispy }}
                        {{ stock_dropdown|crispy }}
                        <button type="submit" class="btn btn-outline-primary">Create Portfolio</button>
                    </form>

                </div>
            </div>
        </div>

        </div>
    {% endif %}
{% endblock sidebar %}